<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center light-bg" width="460" height="350">
    <img class="image" width="460" height="350" src="assets/UA_Logo.png"/>
  </div>

  <form class="center form">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="tertiary" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>
    <small>
      *Please provide your uark email.*
    </small>
  </form>
</ion-content>
