#button {
  position: relative;
  left: 33%;
}

.col {
  width: 100%;
  background-color: purple;
}

.image {
  position: relative;

  width: 100%;
  max-width: 75%;
}

.div {
  text-align: center;
}
.left {
  text-align:left;
}
.top{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
