<ion-header>
  <ion-toolbar>
    <ion-title>UArk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About OUR</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Colleges</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>

        <!-- <a id='hidden-button' ion-button (click)="function()""> -->
        <ion-row>
          <ion-col>
            <div>
              This will be another brief descritpion or probably just an image.
            </div>
            <ion-button id="button" color="secondary" size="large" fill="outline">
              <div>College 1</div>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button id="button">
              <div>College 2</div>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button id="button">
              <div>College 3</div>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button id="button" color="danger">
              <div>College 4</div>
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
