<ion-header>
  <ion-toolbar>
    <ion-title>UARK</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Office of Undergraduate Research</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     <p> Welcome to the Office of Undergraduate Research under the Office of
       Research and Innovation. This website highlights undergraduate research
       across the University of Arkansas. The resources on this website will
       help undergraduate students identify research opportunities both on
       and off campus, and will help faculty with facilitating undergraduate
       research efforts.</p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title class="center">Colleges in UARK</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-end ion-justify-content-center">
          <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4" size-xl="3">
            <div class="center">
              <h1>College of Engineering</h1>
              <ion-icon class="icon" color="secondary" name="cog"></ion-icon>
            </div>
            <ion-button [routerLink]="['/tabs/uark/engineering']" color="primary" expand="block" size="large">
              <h1>View More</h1>
            </ion-button>
          </ion-col>

          <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4" size-xl="3">
            <div class="center">
              <h1>Sam M. Walton College of Business</h1>
              <ion-icon class="icon" color="secondary" name="briefcase"></ion-icon>
            </div>
            <ion-button expand="block" color="primary" size="large">
              <h1>View More</h1>
            </ion-button>
          </ion-col>

          <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4" size-xl="3">
            <div class="center">
              <h1>Fulbright College of Arts and Sciences</h1>
              <ion-icon class="icon" color="secondary" name="flask"></ion-icon>
            </div>
            <ion-button expand="block" color="primary" size="large">
              <h1>View More</h1>
            </ion-button>
          </ion-col>

          <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4" size-xl="3">
            <div class="center">
              <h1>College of Education and Health Professions</h1>
              <ion-icon class="icon" color="secondary" name="fitness"></ion-icon>
            </div>
            <ion-button expand="block" color="primary" size="large">
              <h1>View More</h1>
            </ion-button>
          </ion-col>

          <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4" size-xl="3">
            <div class="center">
              <h1>Fay Jones School of Architecture and Design</h1>
              <ion-icon class="icon" color="secondary" name="business"></ion-icon>
            </div>
            <ion-button expand="block" color="primary"size="large">
              <h1>View More</h1>
            </ion-button>
          </ion-col>

          <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4" size-xl="3">
            <div class="center">
              <h1>Dale Bumpers College of Agricultural, Food and Life Sciences</h1>
              <ion-icon class="icon" color="secondary" name="water"></ion-icon>
            </div>
            <ion-button expand="block" color="primary" size="large">
              <h1>View More</h1>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
