<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>UARK</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About OUR</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Computer Science Professors</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col>
            <div class="center">
              <h1>Professor 1</h1>
              <p>This will be another brief descritpion or probably just an image.</p>
            </div>
            <ion-button expand="block" size="large">
              <div>Professor 1</div>
            </ion-button>
          </ion-col>
          <ion-col>
            <div class="center">
              <h1>Professor 2</h1>
              <p>This will be another brief descritpion or probably just an image.</p>
            </div>
            <ion-button expand="block" size="large">
              <div>Professor 2</div>
            </ion-button>
          </ion-col>
          <ion-col>
            <div class="center">
              <h1>Professor 3</h1>
              <p>This will be another brief descritpion or probably just an image.</p>
            </div>
            <ion-button expand="block" size="large">
              <div>Professor 3</div>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="center">
              <h1>Professor 4</h1>
              <p>This will be another brief descritpion or probably just an image.</p>
            </div>
            <ion-button expand="block" size="large">
              <div>Professor 4</div>
            </ion-button>
          </ion-col>
          <ion-col>
            <div class="center">
              <h1>Professor 5</h1>
              <p>This will be another brief descritpion or probably just an image.</p>
            </div>
            <ion-button expand="block" size="large">
              <div>Professor 5</div>
            </ion-button>
          </ion-col>
          <ion-col>
            <div class="center">
              <h1>Professor 6</h1>
              <p>This will be another brief descritpion or probably just an image.</p>
            </div>
            <ion-button expand="block" size="large">
              <div>Professor 6</div>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
