<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="center light-bg" width="460" height="350">
    <img class="image" width="460" height="350" src="assets/UA_Logo.png"/>
  </div>

  <div class="form">
    <form>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['/tabs/profile/login']" expand="block" color="tertiary">Sign In</ion-button>
          <a [routerLink]="['/tabs/profile/forgot-password']">Forgot Password?</a>
          <div class="center height">Not a user?</div>
          <div class="center height">Sign up Now!</div>
          <ion-button [routerLink]="['/tabs/profile/register']" expand="block" color="primary">Sign Up</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>

<!-- <ion-content [fullscreen]="true">
  <div class="center">
    <img src="assets/UA_Logo.png" width="300" height="200"/>
  </div>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="tertiary" expand="block">Sign In</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content> -->


