<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>UARK</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About OUR</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>College of Engineering</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col>
            <div class="center">
              <h1>Computer Science</h1>
              <p>This will be another brief descritpion or probably just an image.</p>
            </div>
            <ion-button [routerLink]="['/tabs/uark/engineering/cs-professors']" expand="block" size="large">
              <div>Department 1</div>
            </ion-button>
          </ion-col>
          <ion-col>
            <div class="center">
              <h1>Computer Engineering</h1>
              <p>This will be another brief descritpion or probably just an image.</p>
            </div>
            <ion-button expand="block" size="large">
              <div>Department 2</div>
            </ion-button>
          </ion-col>
          <ion-col>
            <div class="center">
              <h1>Electrical Engineering</h1>
              <p>This will be another brief descritpion or probably just an image.</p>
            </div>
            <ion-button expand="block" size="large">
              <div>Department 3</div>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="center">
              <h1>Mechanical Engineering</h1>
              <p>This will be another brief descritpion or probably just an image.</p>
            </div>
            <ion-button expand="block" size="large">
              <div>Department 4</div>
            </ion-button>
          </ion-col>
          <ion-col>
            <div class="center">
              <h1>Data Science</h1>
              <p>This will be another brief descritpion or probably just an image.</p>
            </div>
            <ion-button expand="block" size="large">
              <div>Department 5</div>
            </ion-button>
          </ion-col>
          <ion-col>
            <div class="center">
              <h1>Data Analytics</h1>
              <p>This will be another brief descritpion or probably just an image.</p>
            </div>
            <ion-button expand="block" size="large">
              <div>Department 6</div>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
