<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen={true}>
  <ion-chip *ngFor="let tag of tags; let i = index;">
      <ion-icon name={{icons[i]}} color="primary"></ion-icon>
    <ion-label>{{tag}}</ion-label>
    <ion-icon name="close" (click)="remove(i)"></ion-icon>
  </ion-chip>

  <ion-list>
    <ion-list-header lines="full">
      <ion-label>Select Department and College</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="stacked">
        College
      </ion-label>
      <ion-select placeholder="Select College" [(ngModel)]="college">
        <ion-select-option value="engineering">Engineering</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Department
      </ion-label>
      <ion-select placeholder="Select Department" [(ngModel)]="department">
        <ion-select-option value="csce">CSCE</ion-select-option>
        <ion-select-option value="data">DATA</ion-select-option>
        <ion-select-option value="eleg">ELEG</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="secondary" class="search">Search</ion-button>

  <ion-list>
    <ion-item *ngFor="let job of jobs" (click)="openJob(job)">
      <ion-label>
        <h3>{{job.job}}</h3>
        <p>{{job.professor}}</p>
        <!-- {{ job.job }} -->
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addJob()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </ion-content>
