<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      OUR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen={true}>
  <ion-chip *ngFor="let tag of tags; let i = index;">
      <ion-icon name={{icons[i]}} color="primary"></ion-icon>
    <ion-label>{{tag}}</ion-label>
    <ion-icon name="close" (click)="remove(i)"></ion-icon>
  </ion-chip>

  <ion-list>
    <ion-list-header lines="full">
      <ion-label>Select Department and College</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="stacked">
        College
      </ion-label>
      <ion-select placeholder="Select College" [(ngModel)]="college">
        <ion-select-option value="engineering">Engineering</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Department
      </ion-label>
      <ion-select placeholder="Select Department" [(ngModel)]="department">
        <ion-select-option value="csce">CSCE</ion-select-option>
        <ion-select-option value="data">DATA</ion-select-option>
        <ion-select-option value="eleg">ELEG</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list> 

  <ion-button color="tertiary" class="search" (click)="search()">Search</ion-button>
 
  <ion-list *ngFor="let name of names; let i = index">
    <ion-item>
      <ion-avatar slot="start">
        <img src={{images[i]}} />
      </ion-avatar>
      <ion-label>
        <h3>{{name}}</h3>
        <!-- <p>{{department}}</p> -->
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </ion-content>