.search {
  float: right;
  width: 50%;
  margin-right: 10px;
  font-size: 12px;
  height:45px;
  overflow:auto;
}

// .button {
//   vertical-align: top;
//   position:absolute;
//   right: 0%;
//   width: 25%;
// }
