<link rel="stylesheet/less" type="text/css" href="styles.less" />
<script src="home.page.scss" ></script>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <!-- <ion-img class="image" src="/assets/icon/uark-icon.svg"></ion-img> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title><h2>Recommended For You</h2></ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <div class="div">
          <span class="span">
            <h4 class="header">Recommendation 1</h4>
            <ion-button class="button" color="primary" size="large">Go Now!</ion-button>
          </span>
          <p>This will be a very short description. Maybe 2-3 Sentences. Possibly just bullet points.</p>
        </div>
      </ion-row>

      <ion-row>
        <div class="div">
          <span class="span">
            <h4 class="header">Recommendation 2</h4>
            <ion-button class="button" color="primary" size="large">Go Now!</ion-button>
          </span>
          <p>This will be a very short description. Maybe 2-3 Sentences. Possibly just bullet points.</p>
        </div>
      </ion-row>

    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid>

      <ion-card-header>
        <ion-card-title><h2>Recent Searches</h2></ion-card-title>
      </ion-card-header>

      <ion-row>
        <div class="div">
          <span class="span">
            <h4 class="header">Search 1</h4>
            <ion-button class="button" color="primary" size="large">Go Now!</ion-button>
          </span>
          <p>This will be a very short description. Maybe 2-3 Sentences. Possibly just bullet points.</p>
        </div>
      </ion-row>

      <ion-row>
        <div class="div">
          <span class="span">
            <h4 class="header">Search 2</h4>
            <ion-button class="button" color="primary" size="large">Go Now!</ion-button>
          </span>
          <p>This will be a very short description. Maybe 2-3 Sentences. Possibly just bullet points.</p>
        </div>
      </ion-row>

    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-card-header>
        <ion-card-title><h2>Recent Listings</h2></ion-card-title>
      </ion-card-header>

      <ion-row>
        <div class="div">
          <span class="span">
            <h4 class="header">LISTING 1</h4>
            <ion-button class="button" color="primary" size="large">Go Now!</ion-button>
          </span>
          <p>This will be a very short description. Maybe 2-3 Sentences. Possibly just bullet points.</p>
        </div>
      </ion-row>

      <ion-row>
        <div class="div">
          <span class="span">
            <h4 class="header">LISTING 2</h4>
            <ion-button class="button" color="primary" size="large">Go Now!</ion-button>
          </span>
          <p>This will be a very short description. Maybe 2-3 Sentences. Possibly just bullet points.</p>
        </div>
      </ion-row>

      <ion-row>
        <div class="div">
          <span class="span">
            <h4 class="header">LISTING 3</h4>
            <ion-button class="button" color="primary" size="large">Go Now!</ion-button>
          </span>
          <p>This will be a very short description. Maybe 2-3 Sentences. Possibly just bullet points. </p>
        </div>
      </ion-row>

    </ion-grid>
  </ion-card>
</ion-content>
