<link rel="stylesheet/less" type="text/css" href="styles.less" />
<script src="home.page.scss" ></script>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      OUR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title><h2>Recommended For You</h2></ion-card-title>
    </ion-card-header>
    <ion-grid>
      <!-- <a id='hidden-button' ion-button (click)="function()""> -->

      <ion-row>
        <div class="div">
          <h4>Recommendation 1<ion-button class="button" color="secondary" size="large">Go Now!</ion-button></h4>
          <p class="p">This will be a very short description. Maybe 2-3 Sentences. Possibly just bullet points.</p>
        </div>
      </ion-row>

      <ion-row>
        <div class="div">
          <h4>Recommendation 2<ion-button class="button" color="secondary" size="large">Go Now!</ion-button></h4>
          <p class="p">This will be a very short description. Maybe 2-3 Sentences. Possibly just bullet points.</p>
        </div>
      </ion-row>

    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid>

      <ion-card-header>
        <ion-card-title><h2>Recent Searches</h2></ion-card-title>
      </ion-card-header>

      <ion-row>
        <div class="div">
          <h4>Search 1<ion-button class="button" color="secondary" size="large">Go Now!</ion-button></h4>
          <p class="p">This will be a very short description. Maybe 2-3 Sentences. Possibly just bullet points.</p>
        </div>
      </ion-row>

      <ion-row>
        <div class="div">
          <h4>Search 2<ion-button class="button" color="secondary" size="large">Go Now!</ion-button></h4>
          <p class="p">This will be a very short description. Maybe 2-3 Sentences. Possibly just bullet points.</p>
        </div>
      </ion-row>

    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-grid>
      <ion-card-header>
        <ion-card-title><h2>Recent Listings</h2></ion-card-title>
      </ion-card-header>

      <ion-row>
        <div class="div">
          <h4>LISTING 1<ion-button color="secondary" size="large">Go Now!</ion-button></h4>
          <p class="p">This will be a very short description. Maybe 2-3 Sentences. Possibly just bullet points.</p>
        </div>
      </ion-row>

      <ion-row>
        <div class="div">
          <h4>LISTING 2<ion-button class="button" color="secondary" size="large">Go Now!</ion-button></h4>
          <p class="p">This will be a very short description. Maybe 2-3 Sentences. Possibly just bullet points.</p>
        </div>
      </ion-row>

      <ion-row>
        <div class="div">
          <h4>LISTING 3<ion-button class="button" color="secondary" size="large">Go Now!</ion-button></h4>
          <p class="p">This will be a very short description. Maybe 2-3 Sentences. Possibly just bullet points.</p>
        </div>
      </ion-row>

    </ion-grid>
  </ion-card>
</ion-content>
