.button {
  position:absolute;
  vertical-align: middle;
  top: 0%;
  right: 0%;
  width: 100%;
  max-width: 25%;
  white-space: normal;
}

.div {
  position: relative;
  left: 1.5%;
  width: 98%;
}

.span {
  display:inline-flex;
  width: 100%;
}

.header {
  position: relative;
  top: 0%;
  width: 100%;
  max-width: 74%;
}

.image {
  display: inline-block;
  width: 1%;
}

ion-title {
  display: inline-flex;
}
